body {
  margin: 0;
  padding: 0;
  font-family: Futura;
}
button, input{
  padding: 0;
  margin:0;
  border:0;
}
/*home page css*/

.hp-head{
  background-image: url("homepage-bg.jpg");
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -100;
}

.hp-title{
  margin:auto;
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  width:800px;
  height:400px;
  text-align: center;
  background-color: antiquewhite;
}

.hp-title p{
  margin-bottom: 30px;
  font-size: 6em;
  font-family: fantasy;
  font-weight: bold;
}
.hp-title button{
  width: 300px;
  height: 50px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  background-color: gold;
  border: #ffb72b solid 2px;
}


/*login page css*/
.login-form p{
  font-size: 50px;
  font-family: fantasy;
  font-weight: bold;
}
.login-form{
  margin-top:70px;
}
.form-control {
  height:30px;
  width:200px;
  border: none;
}
.login-form label{
  font-size: 1em;
  font-weight: bold;
  color:black;
}
.password {
  margin:5px;
}
.login-button button{
  height: 40px;
  width:200px;
  margin:5px;
  font-size: 1em;
  color:black;
}

/*search page css*/

.sp-search {
  width:100%;
  height:600px;
  background-image: url("searchpage-bg.jpg");
  background-size: cover;
  position: relative;
}
.sp-input {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  width: 50%;
  height: 52px;
  justify-content: center;
  display: flex;
  border-radius: 2px;
  box-shadow: 0 7px 7px 0 #ffb72b, 0 0 0 3px #ffb72b;
}

.sp-input input{
  background-color: transparent;
  width: 80%;
  height: 52px;
  border: solid 1px #ffb72b;
  font-size: 25px;
  font-family: Futura;
  user-select: text;
  cursor: auto;
}
.sp-input button{
  background-color: rgba(227, 150, 2, 0.7);
  width:20%;
  height:52px;
  color:white;
  cursor: pointer;
  font-family: Futura;
  /*border: #ffb72b solid 2px;*/
  font-size: 25px;
}

/*movie pool css*/
.movie-pool {
  display: flex;
  justify-content: center;
}
.movie-container{
  margin: 20px;
  max-width:1500px;
  flex-direction: row;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.movie {
  margin: 20px;
}
.movie p{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-family: Futura;
}
.movie img{
  cursor: pointer;
  width:200px;
  height:300px;
}

/*search result css*/

.sr-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.sr-movie {
  display: flex;
  flex-direction: row;
  height:300px;
  width:600px;
  border: 3px solid #ffb72b;
  justify-content: center;
}
.sr-movie img {
  height:300px;
  width:200px;
}
.movie-intro {
  height:300px;
  width:200px;
  font-size: 25px;
  font-weight: bold;
  font-family: Futura;
}

